.profile__avatar-photo {
  margin: 0;
  padding: 0;
  border-radius: 100%;
  max-width: 120px;
  max-height: 120px;
  transition: .2s;
}

.profile__avatar-photo:hover~.profile__icon_size_big {
  display: block;
}

.profile__avatar-photo:hover {
  opacity: .2;
}